*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-bg-color: #f9f9f9; 
  --secondary-bg-color: #fdfdfd; 
  --text-color: #ff3333; 
  --text-color-light: #000000; 
  --text-color-dark: #ddd; 
 
} 

 .dark-mode {
  background-color: var(--secondary-bg-color);
  color: var(--text-color-light);

} 

/* dark-mode.css */

/* Add dark mode styles for your entire app here */
body.dark-mode {
  background-color: #1b1b1b;
  color: #ffffff;
}

/* Customize styles for specific components in dark mode */



